* {
    margin: 0;
    padding: 0;
    /* font-family:sans-serif; */
}

body {
    background-color: rgb(0, 0, 33);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(11, 11, 84);

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(188, 188, 230);
    font-size: 1.01rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2.5rem;
}

.rightsection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(170, 107, 228);
}

#element {
    color: rgb(170, 107, 228);

}

.secondsection {
    max-width: 80%;
    margin: auto;
}

.secondsection hr {
    border: 0;
    height: 1.2px;
    background: #9c97f1;
}

.btn {
    padding: 5px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    /* font-size: 0.5rem; */
    color: rgb(188, 188, 230);

}

.buttons {
    padding: 50px 0;
}